<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles.css">
   
</head>
<body>

    <%- include('nav.ejs') %> 

    <h1>Update Employee Payslip Information</h1>
    
    <form action="/employee_payslip/update/:id" method="post" class="updateEmPayslip">


        <input type="hidden" name="id" value="<%= data[0].id %>"/>


        <div class="container2">

            <div class="dateInfo col-7">

                <label for="">Employee Id:
                    <input type="text" name="emply_id" value="<%= data[0].emply_id %>" placeholder="<%= data[0].emply_id %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Pay Cycle:</label>
                <select name="cycle_id" id="">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option> 
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <br><br>
                <pre></pre>

                <label for="">From:
                    <input type="date" name="date" id="date1" value="<%= data[0].cycle_id %>" placeholder="<%= data[0].cycle_id %>" />
                </label>
                <br><br>
                <pre></pre>
                
                <label for="">To:
                    <input type="date" name="date" id="date2" value="<%= new Date(data[0].date).toLocaleDateString('fr-CA') %>" placeholder="<%= new Date(data[0].date).toLocaleDateString('fr-CA') %>" />
                </label>
                <br><br>
                <pre></pre>

               
            </div>

            <div class="netIncome col-7">
                <label for="">Regular Pay:
                    <input type="number" name="regular_pay" value="<%= data[0].regular_pay %>" placeholder="<%= data[0].regular_pay %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Overtime:
                    <input type="number" name="overtime" value="<%= data[0].overtime %>" placeholder="<%= data[0].overtime %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Gross Pay:
                    <input type="number" name="gross_pay" value="<%= data[0].gross_pay %>" placeholder="<%= data[0].gross_pay %>" />
                </label>
                <br><br>
                <pre></pre>

                <label for="">Net Pay:
                    <input type="number" name="net_pay" value="<%= data[0].net_pay %>" placeholder="<%= data[0].net_pay %>" />
                </label>
            </div>

            
        </div>

        <div class="submitUpdate">
            <button type="submit">Submit Changes</button>
        </div>
    </form>


    <%- include('footer.ejs') %> 


</body>
</html>