<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title  %> </title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    
    <%- include('nav.ejs') %> 

    <!-- <h1>Employee Payslip</h1> -->

    <form action="/employee_payslip_list" method="post" class="payslip_list">

        <input type="hidden" name="id" id="id">

        <div class="con">
        <div class="CNP">
            <a href="/new_payslip"><button type="button">Create New Payslip</button></a>
        </div>
        <div class="CNP">
            <a href="/acc_update_sal"><button type="button">View Work Sheet</button></a>
        </div>

        <label for="" style="margin-left: 10%; font-size: 1.2rem"><b>Total Generated Payslips: <%= net_pay[0].Total_Employees%></b></label>

    </div>
    
        <table>
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Pay Cycle</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Regular Pay</th>
                    <th>Overtime</th>
                    <th>Gross Pay</th>
                    <th>Tax</th>
                    <th>Net Pay</th>
                    <th>Action</th>
                    
                </tr>
            </thead>

            <tbody>
                <% if(payslip.length) { for(var i = 0; i< payslip.length; i++) {%>
                    <tr>
                        <td><%= payslip[i].emply_id %></td>
                        <td><%= payslip[i].cycle_id %></td>
                        <td><%= new Date(payslip[i].date_from).toLocaleDateString('fr-CA') %></td>
                        <td><%= new Date(payslip[i].date_to).toLocaleDateString('fr-CA') %></td>
                        <td><%= new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 2
                          }).format(payslip[i].regular_pay)  %></td>

                        <td><%= new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 2
                          }).format(payslip[i].overtime)  %></td>

                        <td><%= new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 2
                          }).format(payslip[i].gross_pay)  %></td>

                        <td><%= new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 2
                          }).format(payslip[i].tax_rate)  %></td>

                        <td><%= new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 2
                          }).format(payslip[i].net_pay)  %></td>

                        <td>
                            <a href="/employee_payslip/edit/<%=payslip[i].id%>" class="update">Edit</a>
                            <a href="/employee_payslip/delete/<%=payslip[i].id%>" class="delete">Delete</a>
                        </td>
                    </tr>
                <% } %>

                    <tr>
                        <td colspan="5" style="text-align: right; font-size: 1.3rem;"><b>Total Outgoing Payments:</b></td>
                        <td><b> $<%= new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 2
                        }).format(net_pay[0].Total_Payments) %> </b></td>
    

                    </tr>
                <%
        
                }else{ %>
                    <tr>
                        <td colspan="5">No Emplyee Payslip To View </td>
                    </tr>
                <% } %>
            </tbody>

        </table>

       <div class="payslipSum">
        <p>SUMMARY:</p>
        <br>
            <ul>
                <li>Minimum Payment: <%= new Intl.NumberFormat('en-US', {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2
                            }).format(net_pay[0].Minimum_Outgoing_Payment)  %></li>

                <li>Minimum Payment: <%= new Intl.NumberFormat('en-US', {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2
                            }).format(net_pay[0].Maximum_Outgoing_Payment)  %></li>

                <li>Minimum Payment: <%= new Intl.NumberFormat('en-US', {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2
                            }).format(net_pay[0].Average_Payments)  %></li>

                
                
            </ul>
        </div>

        <br>

               
    </form>
    
</body>
</html>