<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <a href="/logout" class="userLogout"><button type="submit" >Logout</button></a>

    <h1><%= my_session.first_nm + " " + my_session.last_nm %> Payslip</h1>

    <form action="/employee_payslip_view" method="post" class="">


        <table>
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Date</th>
                    <th>Regulay Pay</th>
                    <th>Overtime</th>
                    <th>Gross Pay</th>
                    <th>Net Pay</th>
                   
                    
                </tr>
            </thead>

            <tbody>
                <% if(data.length) { for(var i = 0; i< data.length; i++) {%>
                    <!-- <input type="text" name="empid" value="<%= my_session.emply_id %>"> -->
                    <tr>
                        <td><%= data[i].emply_id %></td>
                        <td><%= new Date(data[i].date).toLocaleDateString('fr-CA') %></td>
                        <td><%= data[i].regular_pay %></td>
                        <td><%= data[i].overtime %></td>
                        <td><%= data[i].gross_pay %></td>
                        <td><%= data[i].net_pay %></td>
                
                    </tr>
                <% } %>
                    
               <% }else{ %>
                    <tr>
                        <td colspan="5">No Payslip To view </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </form>
</body>
</html>