<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %> </title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <%- include('nav.ejs') %> 

    <!-- <div class="homeImg"></div> -->


    <!-- <button>New Employee</button>

    <button>Add Hours</button> -->


    <h1>Register New Employee Salary</h1>

    <div class="row">
        <div class="col">
            <img src="https://www.corporatecomplianceinsights.com/wp-content/uploads/2016/04/welcome.jpg" alt="">
        </div>

        <div class="col">

            <form action="new_reg_sal/add/<%= retVal[0].hourly_rate %>/<%= retVal[0].basic_hours %> " method="post" class="newRegSalForm">

        
                <div class="regCon">
                    <input type="text" name="emply_id" id="emply_id" placeholder="Employee Id" autofocus>
        
                    <br><br>
                    <pre></pre>
        
                    <!-- <label for="">Department</label>
                    <select name="department_id" id="department_id">
                        <option value="1">Operation</option>
                        <option value="2">Sales & Marketing</option>
                        <option value="3">Administration</option>
                        <option value="4">Accounts</option>
                    </select> -->
        
                    <label for="">Pay Cycle:</label>
                    <select name="cycle_id" id="cycle_id">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <br><br>
                    <pre></pre>
        
                    <label for="">Dept. Hours</label>
                    <select name="basic_hrs" id="basic_hrs">
                        <option value="45">Ops Hours</option>
                        <option value="40">S & M Hours</option>
                        <option value="40">Admin Hours</option>
                        <option value="40">Acc. Hours</option>
                    </select>
                    <br><br>
                    <pre></pre>
        
                    <label for="">From:</label>
                    <input type="date" name="date_from" id="date_from" placeholder="From">
                    <br><br>
                    <pre></pre>
        
                    <label for="">To:</label>
                    <input type="date" name="date_to" id="date_to" placeholder="To">
                    <br><br>
                    <pre></pre>
                    
                    <label for="">Regular Hours:</label>
                    <input type="number" name="reg_hrs_wrkd" id="reg_hrs_wrkd">
                    <br><br>
                    <pre></pre>
        
                    <label for="">Overtime Hours:</label>
                    <input type="number" name="ot_hrs" id="ot_hrs">
                    <br><br>
                    <pre></pre>

                    <label for="">Tax Deduction:</label>

                    <!-- <input type="checkbox" name="tax_id" value="1" >Income Tax
                    <input type="checkbox" name="tax_id" value="2">N.H.T
                    <input type="checkbox" name="tax_id" value="3">Education
                    <input type="checkbox" name="tax_id" value="4">N.I.S
                    <input type="checkbox" name="tax_id" value="5">Pension -->

                    <select name="tax_id">
                        <option value="1">Income Tax</option>
                        <option value="2">N.H.T</option>
                        <option value="3">Education</option>
                        <option value="4">N.I.S</option>
                        <option value="5">Pension</option>
                    </select>
                    <br><br>
                    <pre></pre>

                    <label for="">Absent Days:</label>
                    <input type="number" name="days_absent" id="days_absent">
                    <br><br>
                    <pre></pre>
        
                    <label for="">Absent Reason:</label>
                    <select name="absent_id" id="absent_id">
                        <option value="1">Absent</option>
                        <option value="2">Sick</option>
                        <option value="3">Maternity Leave</option>
                        <option value="4">Vacation</option>
                        <option value="5">Not Applicable</option>
                    </select>
                    <br><br>
                    <pre></pre>
                                        
                </div>

                <button type="submit">Register</button>
               
            </form>
        </div>
    </div>
    

    <%- include('footer.ejs') %> 
    
</body>
</html>